.aboutkr {
  display: flex;
  justify-content: space-between;
  background-color: #81abe9;
}
.about__links {
  border: 1px solid grey;
  text-decoration: none;
  color: whitesmoke;
  font-size: larger;
}



