@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');


.cities__container h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0;
}

.cities__container p {
    font-weight: 300;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0;
}


.cities__container {
    max-width: 1200px;
    margin: auto;
    box-shadow: 30px 0 40px rgba(0,0,0,0.1),
    -30px 0 40px rgba(0,0,0,0.1);
    padding: 30px;
    background: #c3e5f3;
}
#cities {
    background: #c3e5f3;
    display: flex;
    flex-direction: column;
}

#cities-text {
    display: flex;
    border: 1px solid lightgray;
    width: 35vw;
    padding: 1rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#cities-text h2 {
    color: #888;
}
.cities-image {
    height: 70vh;
    margin: 1rem;
}

  
@media screen and (max-width: 960px) {
    .cities__container {
      width: 800px;
      height: 100%;
    }
    .cities__container h1 {
        font-size: 35px;
    }
    .cities-image {
        width: 730px;
        height: 500px;
        margin-left: -10px;
    }
    #cities-text {
        width: 730px;
        margin-left: -10px;
    }
  }
  
  @media screen and (min-device-width : 320px) 
  and (max-device-width : 568px)  {
    .cities__container {
        width: 390px;
        height: 100%;
        text-align: center;
    }
    .cities__container h1 {
        font-size: 35px;
    }
    .cities-image {
        width: 350px;
        height: 300px;
        margin-left: -10px;
    }
    #cities-text {
        width: 350px;
        margin-left: -10px;
    }
    
  }
  
