.gen {
  max-width: 1000px;
  margin: auto;
  margin-top: 3rem;
  padding: 30px;
  line-height: 1.5;
  background-color: whitesmoke;
}
.gen p {
    margin: 15px;
}
span, li p {
  background-color: #c0bbf3;
}

@media only screen and (max-width: 899px) {
  .gen h2, .gen p {
      display: flex;
      flex-direction: column;
      font-size: 15px;
  }
  .gen h2 {
    margin-bottom: 10px;
  }
}
