.visa {
    max-width: 1000px;
    margin: auto;
    margin-top: 3rem;
    padding: 30px;
    line-height: 1.5;
    background-color: whitesmoke;
    color: darkslategrey;
}
.visa p {
    padding: 10px;
    margin-bottom: 10px;
}
.visa label {
    margin-left: 1.5rem;
    padding: 10px;
}
.visa input {
    margin-bottom: 15px;
}
.visa li {
    margin-left: 10rem;
    cursor: pointer;
}