@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');


.lakes__container h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0;
    font-style: oblique;
}

.lakes__container p {
    font-weight: 300;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0;
    font-style: oblique;
}


.lakes__container {
    max-width: 1200px;
    margin: auto;
    box-shadow: 30px 0 40px rgba(0,0,0,0.1),
    -30px 0 40px rgba(0,0,0,0.1);
    padding: 30px;
    background: #c3e5f3;
}
#lakes {
    background: #c3e5f3;
    display: flex;
    flex-direction: column;
}

#lakes-text {
    display: flex;
    border: 1px solid lightgray;
    width: 35vw;
    padding: 1rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    font-style: oblique;
}

#lakes-text h2 {
    color: #888;
    font-style: oblique;
}
.lakes-image {
    width: 100%;
    height: 120vh;
    margin: 1rem;
}

  
  @media only screen and (max-width: 899px) {
    #lakes {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #lakes-text {
        height: 100vh;
    }

    #lakes-image {
        height: 60vh;
    }
  }
  
