@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');


.lakes__container h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0;
}

.lakes__container p {
    font-weight: 300;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0;
}


.lakes__container {
    max-width: 1200px;
    margin: auto;
    box-shadow: 30px 0 40px rgba(0,0,0,0.1),
    -30px 0 40px rgba(0,0,0,0.1);
    padding: 30px;
    background: #c3e5f3;
}
#lakes {
    background: #c3e5f3;
    display: flex;
    flex-direction: column;
}

#lakes-text {
    display: flex;
    border: 1px solid lightgray;
    width: 35vw;
    padding: 1rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#lakes-text h2 {
    color: #888;
}
.lakes-image {
    width: 100%;
    height: 120vh;
    margin: 1rem;
}

  
@media screen and (max-width: 960px) {
    .lakes__container {
        max-width: 900px;
    }
    .lakes__container h1 {
        font-size: 35px;
    }
    
    .lakes__container p {
        font-weight: 300;
        font-size: 1rem;
    }
    #lakes {
        max-width: 800px;
        margin-left: -1.6rem;
    }
    .lakes-image {
        width: 100%;
        height: 50vh;
    }
    #lakes-text {
        width: 500px;
    }
  }
  
  @media screen and (min-device-width : 320px) 
  and (max-device-width : 568px) {
    .lakes__container {
        max-width: 320px;
    }
    .lakes__container h1 {
        font-size: 25px;
    }
    
    .lakes__container p {
        font-weight: 300;
        font-size: 1rem;
    }
    #lakes-text {
        width: 300px;
        margin-right: 2rem;
    }
    #lakes-text h2{
        font-size: 22px;
    }
    .lakes-image {
        width: 100%;
        height: 40vh;
        margin: 1rem;
    }
  }
  
