* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.tours,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

/* .aboutkr {
  background-image: url('images/img-2.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #0c0101;
  font-size: 20px;
}

.tours {
  background-image: url('images/img-2.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: rgb(151, 84, 84);
  font-size: 100px;
} */

.sign-up {
  background-image: url('videos/video-1.mp4');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(126, 79, 79);
  font-size: 30px;
}